Twitter_Assignment/Pods/*
Twitter_Assignment/Twitter_Assignment.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Twitter_Assignment/Twitter_Assignment.xcodeproj/project.xcworkspace/xcuserdata/landt.xcuserdatad/UserInterfaceState.xcuserstate
Twitter_Assignment/Twitter_Assignment.xcodeproj/xcuserdata/landt.xcuserdatad/xcschemes/xcschememanagement.plist
Twitter_Assignment/Twitter_Assignment.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Twitter_Assignment/Twitter_Assignment.xcworkspace/xcuserdata/landt.xcuserdatad/UserInterfaceState.xcuserstate
